@font-face {
    font-family: Cocogoose Regular;
    src: url(/assets/fonts/cocogoose-pro.regular.ttf);
}

@font-face {
    font-family: Cocogoose Semilight;
    src: url(/assets/fonts/cocogoose-pro.semilight.ttf);
}

.c-scrollbar_thumb {
    background-color: gray !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    background: var(--bg1);
    overflow: hidden;
}

#container {
    opacity: .1;
    position: none;
}

a{
    transition: .2s all ease-in-out;
}

a:hover {
    opacity: 0.4;
}


.loaded {
    opacity: 1 !important;
    pointer-events: all !important;
    transition: .3s all;
}

.header_menu {
    display: flex;
    position: fixed !important;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 99;
    float: left;
    transition: all .3s;
}

.header_tranform {
    transition: all .3s;
    background: #1d1d1d;
    box-shadow: 0 0 10px #000000ba;
}

.header_menu img {
    position: relative;
    width: 140px;
    margin-left: 80px;
    margin-top: -20px;
}

nav ul {
    display: flex;
    margin: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
}

nav ul li {
    margin: 10px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Cocogoose Semilight;
    font-size: 15px;
}


a.join {
    background: #006aff;
    padding: 10px 14px;
    border-radius: 20px;
}

a .discord {
    width: 20px !important;
    top: 3px;
    margin: 0 !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    z-index: 100;
}

section:nth-of-type(1){
margin-top: 70px;
}

.section_title {
    margin: 70px 60px;
    font-family: Cocogoose Regular;
    pointer-events: none;
}

.section_title span {
    color: #fff;
    font-size: 2em;
}
.accordion{
    width: 80%;
    margin: 0 25px;
    padding: 15px;
    border-radius: 8px;
}
.accordion .accordion-content{
    margin: 30px;
    border-radius: 4px;
    overflow: hidden;
    background: var(--bg2);
    opacity: .6;
    touch-action: none;
}


.accordion-content.open{
    padding-bottom: 30px;
    background: var(--bg2);
    opacity: 1;
    transition: .3s all;
}
.accordion-content header{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.accordion-content.open header{
    margin-top: 20px;
    min-height: 35px;
}
.accordion-content header .title{
    margin-top: 10px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    font-family: Cocogoose Regular;
}
.accordion-content header i{
    font-size: 15px;
    color: #fff;
}
.accordion-content.open .description{
    height: 0;
    font-size: 1em;
    color: #ffffffdf;
    padding: 0 25px;
    margin-top: 10px;
    font-family: Cocogoose Semilight;
    opacity: 1;
}

.accordion-content .description {
opacity: 0;
transition: .1s all;
}

@media screen and (max-width: 700px) {
    nav ul li a {
        display: none;
    }

    nav ul li a.join {
        display: block;
    }

    nav ul li a.join {
        position: relative;
        display: block;
        width: 100px;
        right: 10px;
        top: -10px;
        padding: 7px 10px;
    }

    a .discord {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
}

@media screen and (max-width: 450px) { 

    nav ul li a.join {
        right: -10px;
    }

    .header_menu img {
        width: 120px;
    }

    .header_menu img {
        margin-left: 30px;
        margin-top: -13px;
    }
}

@media screen and (max-width:500px) {
    .accordion {
        width: 100%;
        margin: 0;
    }

    .section_title {
        margin: 50px 40px;
    }

    section:nth-of-type(1){
        margin-top: 90px;
    }
}


@media screen and (max-width:380px) {
    nav ul li a.join {
        right: 40px;
    }

    .header_menu img {
        margin-top: -6px;
    }

}
