@font-face {
    font-family: Cocogoose Regular;
    src: url(/assets/fonts/cocogoose-pro.regular.ttf);
}

@font-face {
    font-family: Cocogoose Semilight;
    src: url(/assets/fonts/cocogoose-pro.semilight.ttf);
}



.c-scrollbar_thumb {
    background: gray !important;
}

body {
    background: #181818;
    overflow: hidden;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: .2s all ease;
}

:root {
    --clr1: #fff;
    --clr2: #006aff;
}

p i {
    color: var(--clr2);
}

html {
    transition: .1s all ease !important;
}

.fadeIn {
    transition: all .2s;
    opacity: 1 !important;
}

.loaded {
    transition: opacity .3s;
    opacity: 1 !important;
}


.finish {
    opacity: 0;
    transition: all .3s;
}

.loader {
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: Cocogoose Regular;
}

.loader span {
    opacity: .4;
    font-size: 1.4em;
}



.header_menu {
    display: flex;
    position: fixed !important;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 99;
    float: left;
    transition: all .3s;
}

.header_tranform {
    transition: all .3s;
    background: #1d1d1d;
    box-shadow: 0 0 10px #000000ba;
}

.header_menu img {
    position: relative;
    width: 140px;
    margin-left: 80px;
    margin-top: -20px;
}

nav ul {
    display: flex;
    margin: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
}

nav ul li {
    margin: 10px;
    list-style: none;
}

nav ul li a {
    color: var(--clr1);
    text-decoration: none;
    font-family: Cocogoose Semilight;
    font-size: 15px;
}

a {
    text-decoration: none;
    transition: all .3s;
    color: var(--clr2);
}

a:hover {
    opacity: 0.4;
}

a.join {
    background: var(--clr2);
    padding: 10px 14px;
    border-radius: 20px;
}

a .discord {
    width: 20px !important;
    top: 3px;
    margin: 0 !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    z-index: 100;
}

.page-wrapper {
    width: 100%;
}

.main_hero {
    min-height: 100vh;
    background: black;
}

.main_hero .home_titles {
    position: absolute;
    left: 30%;
    top: 13%;
    transform: translate(-50%, -50%);
}

.home_titles {
    max-width: 50%;
}

.home_titles h1 {
    font-size: 4.5em;
    font-family: Cocogoose Regular;
}

.home_titles p {
    width: 95%;
    font-family: Cocogoose Semilight;
    font-size: 1.3em;
}

.main_create {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    min-height: 100vh;
}

.create_text.textIn span {
    animation: 1s textScale cubic-bezier(0.075, 0.82, 0.165, 1.3) var(--d) forwards;
}

.create_coins {
    position: absolute;
    top: 26%;
    width: 100%;
    height: 80vh;

}

.create_coins.textIn .coin1,
.create_coins.textIn .coin2,
.create_coins.textIn .coin3 {
    animation: 1s PopUp cubic-bezier(0.075, 0.82, 0.165, 1.3) var(--d) forwards;
}

.coin1 {
    position: absolute;
    background: fixed center url('/assets/content/0001-0112-unscreen.gif');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 22%;
    top: 24%;
    transform: rotate(-15deg);
    opacity: 0;
}

.coin2 {
    position: absolute;
    background: fixed center url('/assets/content/6445832d7376b926477137.gif');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 66%;
    top: 13%;
    transform: rotate(15deg);
    border-radius: 20px;
    opacity: 0;
}


.create_textblock {
    display: grid;
    place-content: center;
    width: 100%;
    height: 80vh;
}

.create_textblock .create_text {
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
}

.create_text span {
    height: 19vh;
    opacity: 0;
    font-size: 8em;
    font-family: Cocogoose Regular;
    transition: .3s all ease !important;
}


.create_text p {
    position: absolute !important;
    font-size: 1em;
    max-width: 40%;
    font-family: Cocogoose Semilight;
    top: 44%;
    opacity: 0;
    z-index: 99;
}

.textsflex {
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 180px;
    opacity: 0;
    gap: 100px;
    flex-wrap: wrap;
    flex: 4;
}

.textsflex .text {
    width: 15%;
    font-size: 1.4em;
    font-family: Cocogoose Regular;
}


.text p {
    font-family: Cocogoose Semilight;
    font-size: 13px;
    margin-top: 22px;
    letter-spacing: 1px;

}




.main_mensage {
    background: #181818;
    min-height: 90vh;
}


.msg_text_title {
    position: relative;
    left: 50%;
    top: 300px;
    width: 40%;
    height: 10vh;
    font-family: Cocogoose Regular;
    opacity: 0;
}

.msg_text_title span {
    position: relative;
    font-size: 4em;
}

span span {
    position: relative;
    font-size: 1em !important;
}



.discord_vid {
    position: absolute;
    left: 5%;
    top: 55.5%;
    min-width: 700px;
    min-height: 600px;
    background: url('/assets/content/comunity-unscreen.gif');
    background-position: 55% center;
    background-size: cover;
    opacity: 0;
    transform: scale3d(0, 0, 0);
    filter: drop-shadow(0px, 0px , 10px);
}



.discord_vid.textIn {
    animation: 1s Dis_PopUp cubic-bezier(0.075, 0.82, 0.165, 1.2) var(--d) forwards;
}

.main_footer {
    background: black;
    height: 100vh;
}


@keyframes Dis_PopUp {
    0% {
        transform: scale3d(0.3, 0.3, 0.3);
        opacity: 0;
    }

    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}


@keyframes PopUp {
    0% {
        transform: scale3d(0.3, 0.3, 0.3) rotate(var(--r));
        opacity: 0;
    }

    100% {
        transform: scale3d(1, 1, 1) rotate(var(--r));
        opacity: 1;
    }
}


@keyframes textScale {
    0% {
        font-size: 0.3em;
        transform: translate3d(0px, 602px, 0);
        opacity: 0;
    }

    70% {
        font-size: 7.8em;
        transform: translate3d(0px, 0px, 0px);
    }


    100% {
        font-size: 8em;
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@media (max-width: 1600px) {
    .msg_text_title {
        font-size: .8em;
    }

    .main_hero .home_titles {
        font-size: .8em;
    }

    .msg_text_title {
        top: 300px;
    }

    .discord_vid {
        min-width: 390px;
        min-height: 390px;
        top: 58%;
    }
}

@media (max-width: 1280px) and (min-height: 1000px) {

    .discord_vid {
        width: 350px;
        height: 350px;
        top: 60%;
    }

    .create_text {
        font-size: .6em;
    }

    .create_text p {
        font-size: 1.7em;
    }

    .textsflex {
        margin-top: 300px;
        font-size: .8em;
    }

    .msg_text_title {
        top: 100px;
    }

    .discord_vid {
        top: 63%;
        min-width: 300px;
        min-height: 300px;
    }
}


@media (max-width: 1400px) {
    .coin1 {
        left: 17%;
    }
}


@media (max-width: 1200px) {
    .coin1 {
        top: 10%;
        left: 5%;
    }

    .coin2 {
        left: 75%;
    }

    .discord_vid {
        top: 60%;
    }
}

@media (max-width: 1000px) {

    .main_hero .home_titles {
        font-size: .6em;
    }

    .msg_text_title {
        font-size: .7em;
        width: 100%;
        left: 0%;
        text-align: center;
        top: 120px;
        padding: 10px;
    }

    .create_text {
        font-size: .7em;
    }

    .create_text span {
        height: 13vh;
    }

    .create_text p {
        font-size: 1.6em;
        max-width: 90%;
    }

    .text p {
        font-size: 12px;
    }

    .discord_vid {
        min-width: 300px;
        min-height: 300px;
        top: 66%;
        left: 35%;
    }

}


@media (max-width: 880px) {
    .textsflex .text {
        font-size: 1em;
        width: 40%;
        padding: 10px;
    }

    .coin1 {
        width: 100px;
        height: 100px;
    }

    .coin2 {
        width: 100px;
        height: 100px;
    }

    .discord_vid {
        min-width: 300px;
        min-height: 300px;
        top: 65%;
        left: 31%;
    }

    .textsflex {
        gap: 60px;
    }

    .coin1 {
        width: 150px;
        height: 150px;
        top: 69%;
    }

    .coin2 {
        top: -3%;
        left: 70% !important;
        width: 150px;
        height: 150px;
    }

    a img {
        margin-left: 40px !important;
    }

}


@media (max-width: 700px) {
    nav ul li a {
        display: none;
    }

    a.join {
        position: relative;
        display: block;
        width: 100px;
        right: 10px;
        top: -15px;
        padding: 7px 10px;
    }

    a .discord {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }



    .header_menu img {
        margin-left: 30px;
    }

    .header_menu {
        height: 13vh;
    }

    .main_hero .home_titles {
        font-size: .4em;
    }

    .home_titles p {
        font-size: 1.5em !important;
    }

    .msg_text_title {
        font-size: .5em;
    }

    .create_text {
        font-size: .6em;
    }

    .textsflex {
        margin-top: 280px;
    }

    .textsflex .text {
        width: 35%;
        margin: 10px;
    }
}




@media (max-width: 640px) {
    .textsflex .text {
        position: relative;
        text-align: center;
        width: 90%;
        top: 150px !important;
    }

    .textsflex {
        margin-top: 160px;
    }

    .msg_text_title {
        top: 220px;
    }

    .discord_vid {
        top: 68%;
    }

}

@media (max-width: 580px) {
    .textsflex {
        gap: 20px 40px;
        margin-top: 130px;
    }

    .create_text {
        font-size: .45em;
    }

    .coin2 {
        top: -17%;
    }

    .discord_vid {
        left: 25%;
        min-width: 250px;
        min-height: 250px;
    }

}

@media (max-width: 425px) {

    a.join {
        position: relative;
        left: 20px;
        margin-top: 3px;
    }

    .header_menu img {
        width: 110px;
    }

    .header_menu {
        height: 8vh;
    }

    .main_hero .home_titles {
        display: flex;
        place-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        left: 50%;
        top: 16%;
        font-size: .5em;
    }

    .main_hero .home_titles p {
        font-size: .4em;
        max-width: 80%;
    }

    .create_text {
        position: relative;
        top: -100px;
        font-size: .42em;
    }

    .create_text span {
        height: 11vh;
    }

    .create_text p {
        position: relative;
        font-size: 2.5em;
        top: 170%;
        width: 80%;
    }

    .msg_text_title {
        text-align: center;
        font-size: .5em;
        width: 80%;
        left: 10%;
        top: 100px;
    }

    .msg_text_title p {
        font-size: 1.5em;
    }

    .text p {
        opacity: .8;
    }

    .coin1 {
        top: -18%;
        width: 100px;
        height: 100px;
    }

    .coin2 {
        top: 45%;
        left: 70% !important;
        width: 100px;
        height: 100px;
    }

    .msg_text_title {
        position: relative;
        top: 200px;
    }

    .discord_vid {
        left: 14.5% !important;
    }
}

@media (max-width: 420px) {
    .header_menu {
        height: 10vh;
    }

    .main_hero .home_titles {
        font-size: .45em;
        top: 14%;
        min-width: 100%;
    }


    .create_text {
        font-size: .35em;
    }

    a.join {
        position: relative;
        left: -10px;
        margin-top: 3px;
    }

    a .discord {
        margin-top: 3px;
    }

    .coin1 {
        top: -25%;
        width: 80px;
        height: 80px;
    }

    .coin2 {
        top: 35%;
        left: 70% !important;
        width: 80px;
        height: 80px;
    }

    .textsflex {
        margin-top: 10px;
    }
}

@media (max-width: 415px) and (min-width: 400px) {
    a.join {
        left: 30px !important;
        top: -28px;
    }

    .coin1 {
        top: -17%;
    }

    .coin2 {
        top: 46%;
    }
}

@media (max-width: 390px) {
   .header_menu {
    left: -7%;
    opacity: 1 !important;
   }

   .header_tranform {
    background: none;
    box-shadow: none;
    opacity: .7 !important;
   }
}


@media (max-width: 320px) {
    .discord_vid {
        left: 11.5% !important;

    }

    .header_menu {
        left: -13%;
        transform: scale(.9);
    }
}


@media (max-width: 300px) {
    nav {
        transform: scale(.7);
    }

    a.join {
        left: -70px !important;
        margin-top: 0px;
    }

    a img {
        margin-left: 5px !important;
    }

    .header_menu img {
        margin-top: -25px;
        transform: scale(.8);
        margin-left: 10px;
    }

    .coin1 {
        top: -30%;
    }

    .coin2 {
        top: -25% !important;
    }

    .create_text {
        font-size: .3em;
        height: 6vh;
    }

    .create_text p {
        top: 350% !important;
        font-size: 2.5em;
    }

    .textsflex {
        position: relative;
        margin-top: 0px;
        top: -240px !important;
    }

    .discord_vid {
        min-width: 200px;
        min-height: 200px;
        left: 14% !important;
    }
}

@media (max-width: 400px) and (max-height: 800px) {
    .coin1 {
        top: -20%;
    }

    .coin2 {
        top: 39%;
        left: 70% !important;
    }

    .create_text p {
        top: 180%;
    }

    nav {
        transform: scale(.7);
    }

    .header_menu img {
        margin-top: -25px;
        transform: scale(.8);
        margin-left: 10px;
    }


    a.join {
        left: 20px;
        top: -35px !important;
    }
}

@media (min-height: 790px) and (max-width: 420px) and (max-height: 880px) {
    .coin1 {
        top: -18%;
        width: 120px;
        height: 120px;
    }

    .coin2 {
        top: 40%;
        left: 60% !important;
        width: 120px;
        height: 120px;
    }

    .textsflex {
        margin-top: 120px;
    }

    .create_text span {
        height: 8vh;
    }

    .create_text p {
        top: 215%;
    }


}

@media (min-height: 880px) and (max-width: 420px) and (max-height: 920px) {
    .coin1 {
        top: -20%;
        width: 100px;
        height: 100px;
    }

    .coin2 {
        top: 40%;
        left: 60% !important;
        width: 100px;
        height: 100px;
    }

    .create_text {
        font-size: .45em !important;
    }

    .textsflex {
        margin-top: 170px !important;
    
    }
}


@media (max-width: 450px) and (min-height: 890px) and (max-height: 920px) {
    .textsflex {
        position: relative;
        top: 10px;
        margin-top: 0 !important;
    }

    .coin1 {
        top: -5%;
        width: 100px;
        height: 100px;
    }

    .coin2 {
        top: 55%;
        left: 70% !important;
        width: 100px;
        height: 100px;
    }

    .msg_text_title {
        top: 200px;
    }

 
}

@media (max-height: 740px) {
    .msg_text_title {
        top: 300px;
    }

    .discord_vid {
        top: 66%;
        opacity: .4 !important;
    }

    @media (max-height: 670px) {
        .msg_text_title {
            top: 250px;
        }
        .discord_vid {
            top: 67% ;
        }
    }

    @media (max-height: 530px) {
        .msg_text_title {
            top: 200px;
        }
        .discord_vid {
            top: 68% ;
        }
    }
}

body.mobile *:hover {
    opacity: 1 !important;
}